@font-face {
    font-family: 'ansonregular';
    src: url('fonts/anson-regular-webfont.eot');
    src: url('fonts/anson-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/anson-regular-webfont.woff') format('woff'),
         url('fonts/anson-regular-webfont.ttf') format('truetype'),
         url('fonts/anson-regular-webfont.svg#ansonregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1 > span {
  font-family: 'ansonregular';
  font-size: 3.5rem !important;
}

h1 > small {
  font-size: 1.5rem !important;
}

#main {
  margin: 0 auto;
}

#frame {
  cursor: pointer;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  width: 100%;
}

#frame.disabled {
  opacity: 0.5;
}

#grid-display {
  cursor: pointer;
}

.color-box {
  width: 24px;
  height: 24px;
  border: 1px solid #DBDBDB;
  border-radius: 4px;
  margin-left: 10px;
  display: inline-block;
}

.color-box-inline {
  margin-left: 0px !important;
  vertical-align: bottom;
}

#state-edit, #state-remove, #cell-menu, #action-menu, #target-distance {
  display: none;
}

.list-group-item {
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important;
}

.list-group-item .action-menu {
  display: none;
}

.list-group-item:hover .action-info {
  display: none;
}

.list-group-item:hover .action-menu {
  display: flex;
}
