html, body {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  padding: 40px 0 40px 0;
}

#main {
  margin: 0 auto;
}

#frame {
  cursor: pointer;
  width: 100%;
}

#grid-display {
  cursor: pointer;
}

#cell-settings {
  display: none;
}

.state-color {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  text-align: center;
  width: 32% !important;
}
