h1 {
  text-align: center;
  padding: 40px 0 40px 0;
}

#main {
  margin: 0 auto;
}

#frame {
  cursor: pointer;
  width: 100%;
}

#grid-display {
  cursor: pointer;
}

.color-box {
  width: 24px;
  height: 24px;
  border: 1px solid #DBDBDB;
  border-radius: 4px;
  margin-left: 10px;
}
